svg {
    /*border: 1px solid black;*/
}

#right_col {
    padding: 0px;
    overflow: hidden
}

body, body div.row{
    margin:0px;
    overflow-y: hidden;
}


.pbar_new { fill: #bfbfbf}
.pbar_queued { fill : #9f9f9f; }
.pbar_running { fill : #ffed6f; }
.pbar_ok { fill : #b0f1b0; }
.pbar_error { fill : #f9c7c5; }
